* {
    box-sizing: border-box;
  }

body {
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
}

section {
  margin-bottom: 20px;
}

button {
    display: inline-block;
    margin: 5px auto 0;
}