* {
    box-sizing: border-box;
  }

body {
  text-align: center;
}

form {
    display: inline-block;
    padding: 10px;
}


.login-page > div {
  margin-top: 80px;
  border: 1px solid black;
  border-radius: 3px;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}


input, label {
  display: block;
  margin: 10px 0 10px;
}


button {
  display: inline-block;
  margin: 5px auto 0;
}
