* {
    box-sizing: border-box;
  }


.sign-up-page {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-up-page > div {
  margin-top: 80px;
  border: 1px solid black;
  border-radius: 3px;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-up-page form {
  padding: 30px;
}

.sign-up-page input,
.sign-up-page label {
  display: block;
  margin: 10px 0 10px;
}

.sign-up-page form button {
  display: block;
  margin: 10px auto 0;
}